
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>

<table>
    <tr>
        <th> Adı</th>
        <th> Soyadı</th>
    </tr>
    <tr>
        <td>1</td>
        <td>denmee</td>
    </tr>
</table>